<!-- Mostrar la imagen "not-found" cuando no hay registros en la tabla -->
<div *ngIf="data.length === 0" class="text-center">
    <img src="assets/images/default/no-data.png" class="img-fluid" style="max-width: 150px;">
    <p class="text-muted mt-2">No se encontraron registros en la tabla.</p>
</div>

<!-- Mostrar el buscador solo si hay datos en la tabla -->
<div *ngIf="data.length > 0">

    <div class="row g-4 mb-3">
        <div class="col-sm-auto">
            <div dropdown class="btn-group me-2">
                <button type="button" dropdownToggle class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="bi bi-eye"></i> Columnas</button>
                <div *dropdownMenu class="dropdown-menu">
                    <div class="form-check" *ngFor="let column of columns; let i = index">
                        <div class="dropdown-item">
                            <!-- El input tiene un id único basado en el índice 'i' -->
                            <input class="form-check-input" type="checkbox" [id]="'checkbox-' + i"
                                [checked]="isColumnVisible(column)" (change)="toggleColumnVisibility(column)">
                            <!-- El label tiene un for que coincide con el id del input -->
                            <label class="form-check-label" [for]="'checkbox-' + i">{{ column.label }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div dropdown class="btn-group me-2" *ngIf="exportName">
                <button type="button" dropdownToggle class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="bi bi-cloud-download"></i> Exportar</button>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item pointer" (click)="exportToPDF()">PDF</a>
                    <a class="dropdown-item pointer" (click)="exportToExcel()">Excel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pointer" (click)="printTable()">Imprimir</a>
                </div>
            </div>
            <button class="btn btn-danger position-relative me-2" [disabled]="selectedItems.length === 0"
                (click)="deleteSelectedItems(selectedItems)">
                <i class="ri-delete-bin-2-line"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                    *ngIf="selectedItems.length > 0">{{selectedItems.length}}</span>
            </button>
        </div>
        <div class="col-sm">
            <div class="d-flex justify-content-sm-end">
                <div class="search-box ms-2">
                    <input type="text" class="form-control search" placeholder="Buscar..." [(ngModel)]="searchQuery"
                        (input)="onSearch()">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Mostrar el total de registros y resultados -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <p class="mb-0 text-muted small"><strong>{{ totalRecords }}</strong></p>
        <p class="mb-0 text-muted small"><strong>{{ showingRecords }}</strong></p>
    </div>

    <!-- Overlay de carga -->
    <div *ngIf="isLoadingTable" class="loading-overlay">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <div class="table-responsive table-card mt-3 mb-1">
        <table class="table align-middle table-nowrap" id="customerTable" *ngIf="filteredData.length > 0">
            <thead class="table-light">
                <tr>
                    <th scope="col wdth50">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" [(ngModel)]="masterSelected"
                                (change)="checkUncheckAll($event)">
                        </div>
                    </th>
                    <th scope="col" style="width: 50px;">#</th>
                    <th *ngFor="let column of visibleColumns" 
                        [ngClass]="{'sort': column.sortable, 'sortable-column': column.sortable}"
                        (click)="column.sortable && sortData(column.key)">
                        {{ column.label }}
                        <i *ngIf="column.sortable" [ngClass]="getSortIcon(column.key)"></i>
                    </th>
                    <th class="wdth50">Acciones</th>
                </tr>
            </thead>
            <tbody class="list form-check-all">
                <tr *ngFor="let item of paginatedData; let i = index">
                    <td class="wdth50">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="item.isSelected"
                                (change)="checkItemSelection(item, $event)">
                        </div>
                    </td>
                    <td scope="row">{{ (currentPage - 1) * itemsPerPage + (i + 1) }}</td>
                    <td *ngFor="let column of visibleColumns">
                        <ng-container *ngIf="column.customField; else defaultColumn">
                            <app-custom-field [imageUrl]="serverUrl + item[column.imageKey]"
                                [title]="item[column.titleKey]" [subtitle]="item[column.subtitleKey]">
                            </app-custom-field>
                        </ng-container>
                        <ng-template #defaultColumn>
                            {{ item[column.key] }}
                        </ng-template>
                    </td>
                    <td class="wdth50">
                        <div class="d-flex gap-2">
                            <div [ngClass]="{'dropup': isLastRecord(i)}" dropdown class="btn-group">
                                <button type="button" dropdownToggle class="btn btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear"></i>
                                </button>
                                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" *ngFor="let action of actions"
                                        (click)="isActionVisible(action, item) && action.onClick(item)"
                                        [disabled]="!isActionVisible(action, item)">
                                        {{ action.label }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="noresult" *ngIf="filteredData.length === 0 && searchQuery">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                    colors="primary:#232323,secondary:#5A58EB" style="width:75px;height:75px"></lord-icon>
                <h5 class="mt-2">Ups! No encontramos lo que buscas.</h5>
                <p class="text-muted mb-0">Parece que no hay resultados que coincidan con tu búsqueda.<br>¡Intenta de
                    nuevo con otros términos!</p>
            </div>
        </div>
    </div>

    <!-- Paginación -->
    <div class="row align-items-center" *ngIf="filteredData.length > 0">
        <div class="col-md-6 d-flex align-items-center pagin">
            <span class="me-2">Página:</span>
            <select class="form-select form-select w-auto" [(ngModel)]="currentPage" (change)="changePage(currentPage)">
                <option *ngFor="let page of totalPages" [value]="page">{{ page }}</option>
            </select>
            <span class="ms-3 me-2">Mostrar:</span>
            <select class="form-select form-select w-auto" [(ngModel)]="itemsPerPage"
                (change)="onChangeItemsPerPage($event)">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="30">30</option>
                <option [value]="40">40</option>
                <option [value]="50">50</option>
            </select>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="pagination-wrap hstack gap-2">
                <a class="page-item pagination-prev pointer" [class.disabled]="currentPage === 1"
                    (click)="changePage(1)">
                    ««
                </a>
                <a class="page-item pagination-prev pointer" [class.disabled]="currentPage === 1"
                    (click)="changePage(currentPage - 1)">
                    «
                </a>
                <ul class="pagination listjs-pagination mb-0">
                    <li class="pagination-page page-item pointer" *ngFor="let page of compactTotalPages"
                        [class.active]="currentPage === page" [class.disabled]="page === -1">
                        <a *ngIf="page !== -1" class="page-link" (click)="changePage(page)">{{ page }}</a>
                        <span *ngIf="page === -1" class="page-link">...</span>
                    </li>
                </ul>
                <a class="page-item pagination-next pointer" [class.disabled]="currentPage === totalPages.length"
                    (click)="changePage(currentPage + 1)">
                    »
                </a>
                <a class="page-item pagination-next pointer" [class.disabled]="currentPage === totalPages.length"
                    (click)="changePage(totalPages.length)">
                    »»
                </a>
            </div>
        </div>
    </div>

</div>